<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<p><a href="/">Home</a></p>

<form method="post" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="sku">Sku</label>
        <input class="form-control" th:name="sku" />
    </div>
    <input type="submit" value="Add to transaction" />
</form>

<ul th:each="item : ${items}">
    <li th:text="${item.name}+'     $'+${item.price}"></li>
</ul>
<p th:text="'Subtotal: $'+${subtotal}"></p>
<p th:text="'Tax: $'+${tax}"></p>
<p th:text="'Total: $'+${total}"></p>
</body>
</html>