<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>

<form method="post" style="max-width:700px;" >
    <div class="form-group">
        <label th:for="searchTerm">Enter Search Term</label>
        <input class="form-control" th:name="searchTerm" />

    <input type="submit" value="Search" />
    </div>
</form>
<br/>

<table class="table">

    <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>

    </tr>

    <tr th:each="item : ${results}">
        <td th:text="${item.sku}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="'$'+${item.price}"></td>

    </tr>
    <p th:unless="${results} and ${results.size()}">No Results</p>
    <br/>
</table>
</body>
</html>