<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


</head>
<body>

<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> </a>

<h1>Search</h1>
<p>Please enter all or part of the name for the item your looking for.</p>

<form method="post" style="max-width:700px;" >
    <div class="form-group">
        <label th:for="searchTerm">Enter Search Term</label>
        <input class="form-control" th:name="searchTerm" />

    <input class="btn btn-info btn-sm" value="Search" type="submit" />
    </div>
</form>
<br/>

<table class="table">

    <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>

    </tr>

    <tr th:each="item : ${results}">
        <td th:text="${item.sku}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="'$'+${item.price}"></td>

    </tr>

    <br/>
</table>
<p th:text="${noresult}"></p>
</body>
</html>