<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<p>We're sorry. The item your looking for is either out of stock or has not aerrived. Please enter your name, game your
looking for, and a phone number that receives text messages, and we'll notify you when it arrives.</p>
<p></p>
<form method="post" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="name">Your Name</label>
        <input class="form-control" th:name="name"/>
    </div>

    <div class="form-group">
        <label th:for="address">Name of Game</label>
        <input class="form-control" th:name="game" />
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:name="phoneNumber"/>
    </div>



    <input class="btn btn-info btn-sm" value="Notify Me" type="submit"/>
</form>



</body>
</html>