<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>


<h1>Add Stock</h1>
<p>Please enter for new Inventory.</p>

<form method="post" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="sku">Sku</label>
        <input class="form-control" th:name="sku" th:value="${sku}"/>

    </div>
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:name="name" />

    </div>
    <div class="form-group">
        <label th:for="qty">Quantity</label>
        <input class="form-control" th:name="qty" th:value="${qty}"/>

    </div>
    <div class="form-group">
        <label th:for="price">Price</label>
        <input class="form-control" th:name="price" />

    </div>


    <input class="btn btn-info btn-sm" value="Receive Item" type="submit"/>
</form>

</body>
</html>