<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


</head>
<body>


<table class="table">

    <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>

    </tr>

    <tr th:each="item : ${items}">
        <td th:text="${item.sku}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="'$'+${item.price}"></td>

    </tr>

</table>


    <a href="/inventory/receiving">Receive</a>
</body>
</html>