<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<form method="post" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="sku">Sku</label>
        <input class="form-control" th:name="sku" />
    </div>

    <div class="form-group">
        <label th:for="qty">Quantity</label>
        <input class="form-control" th:name="qty" />

    </div>

    <input type="submit" value="Recieve Item" />
</form>
<table class="table">

    <tr>
        <th>Sku</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>

    </tr>

    <tr th:each="item : ${items}">
        <td th:text="${item.sku}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="'$'+${item.price}"></td>

    </tr>

</table>
</body>
</html>