<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> </a>
<h1>Employee List</h1>
<p th:text="${error}"></p>
<form method="post" style="max-width:600px;" >
<table class="table">

    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Position</th>
        <th>Date of Hire</th>
        <th>Terminate Employee</th>

    </tr>

    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.clearanceLevel}"></td>
        <td th:text="${employee.dateOfHire}"></td>
        <td><input type="checkbox" th:name="employeeIds" th:value="${employee.employeeId}"/></td>

    </tr>
    <a href="/user/newhire" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span> New Hire</a>
</table>
    <input class="btn btn-danger btn-lg btn-block" value="Terminate Selected Employee(s)" type="submit"/>
</form>
</body>
</html>