<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>


<h1>New Hire</h1>
<p>Please fill in employee information</p>
<p th:text="${error}"></p>

<form method="post" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="name">Employee Name</label>
        <input class="form-control" th:name="name" th:value="${name}"/>
    </div>

    <div class="form-group">
        <label th:for="address">Employee Address</label>
        <input class="form-control" th:name="address" />
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:name="phoneNumber" th:value="${phoneNumber}"/>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:name="password" type="password"/>
    </div>

    <div class="form-group">
        <label th:for="verifyPassword">Verify Password</label>
        <input class="form-control" th:name="verifyPassword" type="password"/>
    </div>

    <div class="form-group">
        <label th:for="clearance">Clearance Level</label>
        <select id="clearance" name="clearance">
            <option th:value="Employee">Employee</option>
            <option th:value="Manager">Manager</option>
        </select>
    </div>

    <input class="btn btn-info btn-sm" value="Hire!" type="submit"/>
</form>




</body>
</html>